In [1]:
#for loops

seq = [1,2,3,4,5]

In [2]:
for item in seq:
    print(item)

1
2
3
4
5

In [3]:
for item in seq:
    print("item")

item
item
item
item
item

In [5]:
# while loops
i=1
while i < 5:
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [6]:
#Range

In [7]:
range(5)

range(0, 5)

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
#list 

x=[1,2,3,4,5]

In [13]:
print(x)

[1, 2, 3, 4, 5]

In [15]:
[item**2 for item in x]

[1, 4, 9, 16, 25]

In [16]:
#functions

def my_fun(param1='default'):
    """Life is good"""
    print(param1)

In [17]:
my_fun

In [18]:
my_fun()

default

In [19]:
my_fun('new param')

new param

In [20]:
def seq(x):
    return x**2

In [21]:
seq(2)

4

In [22]:
seq(3)

9

In [31]:
#lambda exp

def times2(var):
    return var*2

In [32]:
times2(2)

4

In [33]:
lambda var:var**2

In [27]:
var =3

In [28]:
seq = [1,2,3,4,5]

In [29]:
map(times2,seq)

In [34]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [35]:
list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10]

In [36]:
filter(lambda item:item%2==0,seq)

In [37]:
list(filter(lambda item:item%2==0,seq))

[2, 4]

In [38]:
st = 'hello my name is Sam'

In [39]:
st.lower()

'hello my name is sam'

In [40]:
st.upper()

'HELLO MY NAME IS SAM'

In [41]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [56]:
tweet='go himanshu! #himanshu'

In [57]:
tweet.split

In [58]:
tweet.split('#')

['go himanshu! ', 'himanshu']

In [59]:
tweet.split('#')[1]

'himanshu'

In [62]:
# Dictionaries

d={'key1':'value1','key2':'value2'}

In [64]:
d['key1']

'value1'

In [65]:
d.keys()

dict_keys(['key1', 'key2'])

In [67]:
lst=[1,2,3]

In [68]:
lst.pop()

3

In [69]:
lst

[1, 2]

In [70]:
x

[1, 2, 3, 4, 5]

In [71]:
'x' in {1,2,3}

False

In [73]:
1 in {1,2,3}

True

In [74]:
'1' in {1,2,3}

False