In [3]:
    import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [4]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [5]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [8]:
df['col1']>2

0    False
1    False
2     True
3     True
Name: col1, dtype: bool

In [13]:
df[df['col1']>2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [16]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [17]:
len(df['col2'].unique())

3

In [18]:
df['col2'].nunique()

3

In [19]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [24]:
df['col1'].value_counts()

4    1
3    1
2    1
1    1
Name: col1, dtype: int64

In [25]:
df['col3'].value_counts()

xyz    1
ghi    1
def    1
abc    1
Name: col3, dtype: int64

In [26]:
df[df['col1']>2] & df[df['col2']>444]

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [27]:
df[(df['col1']>2) & df(['col2']>444)]

TypeError: '>' not supported between instances of 'list' and 'int'

In [28]:
df[(df['col1']>2) & (df['col2']>444)]

   col1  col2 col3
2     3   666  ghi

In [29]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [30]:
df['col2'].apply(lambda x:x*2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [31]:
df ['col1'].sum()

10

In [32]:
df['col1'].apply(lambda x:x+1)

0    2
1    3
2    4
3    5
Name: col1, dtype: int64

In [33]:
df['col3'].apply(lambda x:x+'E')

0    abcE
1    defE
2    ghiE
3    xyzE
Name: col3, dtype: object

In [34]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [35]:
result = df['col3'].apply(lambda x:x+'E')

In [36]:
result

0    abcE
1    defE
2    ghiE
3    xyzE
Name: col3, dtype: object

In [38]:
df=df['col3'].apply(lambda x:x+'E')

In [39]:
df

0    abcE
1    defE
2    ghiE
3    xyzE
Name: col3, dtype: object

In [40]:
df.objects

AttributeError: 'Series' object has no attribute 'objects'

In [43]:
df.column

AttributeError: 'Series' object has no attribute 'column'

In [42]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [44]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

In [45]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [46]:
df.isnull

<bound method DataFrame.isnull of    col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz>

In [47]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [48]:
df.null

AttributeError: 'DataFrame' object has no attribute 'null'

In [49]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [50]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

In [51]:
df = pd.DataFrame(data)

In [52]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [53]:
df.pivot_table(values='D',index=['A','B'],Column=['c'])

TypeError: pivot_table() got an unexpected keyword argument 'Column'

In [54]:
df.pivot_table(values='D',index=['A','B'],Column=['C'])

TypeError: pivot_table() got an unexpected keyword argument 'Column'

In [55]:
df.pivot_table(values='D',index=['A','B'],column=['c'])

TypeError: pivot_table() got an unexpected keyword argument 'column'

In [56]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [57]:
df.pivot_table(values='D',index=['A','B'],columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN