In [3]:
    import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [4]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [5]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [8]:
df['col1']>2

0    False
1    False
2     True
3     True
Name: col1, dtype: bool

In [13]:
df[df['col1']>2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [16]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [17]:
len(df['col2'].unique())

3

In [18]:
df['col2'].nunique()

3

In [19]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [24]:
df['col1'].value_counts()

4    1
3    1
2    1
1    1
Name: col1, dtype: int64

In [25]:
df['col3'].value_counts()

xyz    1
ghi    1
def    1
abc    1
Name: col3, dtype: int64

In [26]:
df[df['col1']>2] & df[df['col2']>444]

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [27]:
df[(df['col1']>2) & df(['col2']>444)]

TypeError: '>' not supported between instances of 'list' and 'int'

In [28]:
df[(df['col1']>2) & (df['col2']>444)]

   col1  col2 col3
2     3   666  ghi